<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% extends 'base.html' %}
{% block title%} Home {% endblock title %}
{% block content %}
{% if user.is_authenticated %}
	Hi {{ user.username }}	
	<div class="jumbotron">
<h1 class="display-4">Newspaper app</h1>
<p class="lead">A single place for all latest news</p>
<p class="lead">
<a class="btn btn-primary btn-lg" href="{% url 'article_list' %}"
role="button">View All Articles</a>
</p>
</div>
{% else %}
	<p><a href="{% url 'login' %} ">login</a></p>
	<p><a href="{% url 'signup' %}">signup</a></p>
{% endif %}
{% endblock content %}
</body>
</html>